* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    margin: auto;
    font-weight: bold;
}

h1,
h2 {
    margin: 0.25em 0;
    text-align: center;
}

h2 { 
    font-size: 1.2em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

input,
select, 
textarea {
    margin: 0 0.5em;
    padding: 0.5em;
}

input {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 0.5em;
}

button {
    height: 3em;
    max-width: 60px;
    border-radius: 20%;
    margin: 0 0.5em;
    padding: 1px 7px 2px;
}

button:focus {
    outline: none;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
}

header {
    justify-self: stretch;
    text-align: center;
    background-color: #990000;
    background-image: url("./rockthevotebanner.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 1em;
}

header h1 {
    margin: 0;
    font-size: 3em;
    color: transparent;
}

main {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.add-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.add-form input, textarea {
    min-height: 3rem;
}

.add-form p {
    margin: 0 0.5em;
    flex-grow: 1;
}

.add-form input, .add-form textarea {
    width: 100%;
}

.add-form button {
    align-self: center;
}

.add-form label {
    display: block;
    margin: 0 0.5em;
}

.issue-container {
    width: 100%;
}

.issue {
    border: 2px solid blue;
    margin: 1em 0;
    padding: 1em 0.5em;
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-areas: 
    "vote inam idel" 
    "vote isum isum " 
    "comm comm comm";
    grid-row-gap: 1ch;
    grid-column-gap: 2ch;
    align-items: center;
}

.votes {
    grid-area: vote;
    align-self: stretch;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.issue-name {
    text-align: left;
    text-transform: uppercase;
    margin-right: 1ch;
    grid-area: inam;
}

.del-button {
    display: inline;
    color: #990000;
    margin: 0 0.5em;
    grid-area: idel;
}

.item-summary {
    grid-area: isum;
}

.comment-container {
    border: 1px solid #990000;
    grid-area: comm;
    padding: 1em 0;
}

.comment-container h3 {
    text-align: center;
    font-style: italic;
}

.comment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.comment-form input {
    flex-grow: 1;
}

.comment {
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
}

.comment-edit {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.comment-edit input {
    flex-grow: 1;
}

input {
    font-weight: bold;
}

input::placeholder {
    color: blue;
    font-style: italic;
    font-weight: lighter;
}

@media only screen and (min-width: 500px) {
    .add-form {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .issue h2 {
        font-size: unset;
    }



}