body {
    width: 80%;
    margin: auto;
}

header {
    border: red dashed 1px;
    width: 100%;
    text-align: center;
    font-size: 28px;
    background-color: lightpink
}

main {
    border: orange dashed 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

main h1 {
    text-align: center;
}

.baddie {
    border: green dashed 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

input {
    min-height: 100px;
    text-align: center;
    /* min-width: 200px; */
}

.baddie p {
    font-size: 30px;
    font-weight: bolder;
    width: 200px;
    text-align: center;
}

.price {
    display: block;
}

div * {
    margin: 10px;
}

img {
    max-width: 100px;
    max-height: 100px;
}


.cost {
    justify-content: center;
    border: green dashed 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}


.cost p {
    font-size: 30px;
    font-weight: bolder;
    width: 200px;
    text-align: center;
}


#total {
    font-size: 30px;
    color: red;
    border: red 2px dashed;
    font-weight: bolder;
    min-width: 25px;
}


footer {
    border: violet dashed 1px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: lightgoldenrodyellow
}

.email {
    width: 25%;
}

.website {
    width: 50%;
}

.address {
    width: 25%;
}