html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url("https://coursework.vschool.io/content/images/2015/07/hellobadge.jpg");
    height: 35vh;
    min-height: 180px;
    background-size: cover;
    /* margin-bottom: 5em; */
}

.name-form {
    margin: 1em;
    border: 1px solid #606060;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto) minmax(auto, 2em);
    grid-template-areas: 
        ". ."
        ". ."
        ". ."
        "txt txt"
        "btn btn";
    grid-gap: 1em;
    padding: 1.5em 3em;
}

.display-badge {
    font-size: 1rem;
    margin: 1em;
    background-color: red;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 30px 0;

}

.badge-header {
    font-size: 1rem;
    color: white;
    margin: 0;
    padding: 0.75em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hello {
    font-size: 2.2em;
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
}

.badge-header p {
    margin: -5px 0 0 0;
    padding: 0;
}

.details {
    font-size: 1rem;
    margin: 0;
    padding: 1em 0;
    width: 99%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: repeat(4, auto) minmax(auto, 2em); */
    grid-template-areas: 
        ". ."
        ". ."
        ". ."
        ". ."
        "abt abt";
    grid-gap: 1em;

}



input{
    display: inline-block;
    border: 1px solid #606060;
}

textarea {
    grid-area: txt;
    display: inline-block;
    border: 1px solid #606060;
}

button {
    display: block;
    grid-area: btn;
    justify-self: center;
    font-size: 1.2em;
    background-color: lightgray;
    border: 1px solid #606060;
    border-radius: 5px;
    width: 7em;
}

.details p {
    display: inline-block;
    margin: 0 3em;
}

.about {
    grid-area: abt;
    border: 1px solid #606060;
    margin: 0 3em;
    margin-bottom: 1em;
    min-height: 6em;
}