* {
    box-sizing: border-box;
}

.wrapper {
    width: 95%
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    width: 200PX;
    height: 200px;
    margin: 20px;
    text-align: center;
    border: 1px solid #333;
    box-shadow: 10px 10px 5px 0 #999;
    border-radius: 10%;
    /* 4 transition properties */
    transition-property: border-radius, box-shadow, background-color, height, width, border;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: .2s;
    /* shorthand */
    /* transition: all 1s ease-in-out .2s;  */
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.one {
    background-color: orangered;
}

.one:hover {
    box-shadow: none;
    background-color: lightyellow;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
}

.two {
    background-color: aquamarine;
}

.two:hover {
    background-color: red;
    box-shadow: none;
    border: 10px dashed chartreuse;
}

.three {
    background-color: lightgray;
}

.three:hover {
    background-color: black;
    border-radius: 50%;
    border: 20px solid red;
    box-shadow: none;
}

.four {
    background-color: deeppink;
}

.four:hover {
    box-shadow: -10px -10px 5px 2px teal;
}

.five {
    background-color: navy
}

.five:hover {
    box-shadow: 2em 2em gold inset;
}

.six {
    background-color: yellow;
}

.six:hover {
    height: 180px;
    width: 180px;
    opacity: 0.3;
}