html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    color: #212529;
    font-family: Lora, 'Times New Roman', serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    transition: all .2s;
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    font-size: 1rem;
    display: grid;
    grid-template-rows: 55vh 1fr 200px;
    grid-template-areas: "hdr" "lst" "ftr";
}

header {
    grid-area: "hdr";
    font-size: 1rem;
    background: url("https://blackrockdigital.github.io/startbootstrap-clean-blog/img/home-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid; 
    grid-template-rows: 4rem 1fr;
}


nav {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

nav h1 {
    font-size: 1.25em;
    font-weight: 800;
    line-height: 1.5;
    color: white;
}

nav ul {
    display: flex;
    font-size: 0.75em;
    line-height: 1.5em;
    font-weight: 800;
}

nav li {
    margin: 0 1em;
    text-transform: uppercase;
}

nav a, nav a:visited {
    color: white;
}

nav a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.overlay {
    background-color: #212529;
    opacity: .5;
    z-index: 10;
}

.page-header {
    display: grid;
    justify-content: center;
    align-items: center;
}

.header-image {
    color: white;
}

.header-image h1 {
    font-size: 5em;
}

.header-image h2 {
    font-weight: 300;
    font-size: 1.5em;
}

.bloglist {
    grid-area: "lst";
    padding: 2em 15%;
}

.post {
    border-top: 1px solid rgba(0,0,0,0.1);
    font-size: 1rem;
    padding: 1em 0 2em 0;
}

.post:first-of-type {
    border-top: none;
}

.post .blogTitle {
    font-size: 2em;
    font-weight: 800;
    font-style: normal;
    margin: 0.5em 0;
}

.post .blogSubTitle {
    font-size: 1.75em;
    font-weight: 300;
    margin: 0.5em 0;
}

.post p {
    font-family: 'Lora', 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 400;
    color: #868396;
}

.post a,
.post a:visited {
    text-decoration-line: none;
    color: #222222;
}

.post a:hover {
    color: #0085a1;
}

.post p:last-child {
    font-style: italic;
    font-size: 1.2em;
}

footer {
    font-size: 1rem;
    border-top: 1px solid lightgray;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
}

footer p {
    color: gray;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.social i {
    margin: 0 0.25em;
    padding: 0;
    display: inline-block;
    border-radius: 100%;
}