* {
    box-sizing: border-box;
    font-size: 0px;
}

body {
    height: 100vh;
    position: relative;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    /* margin: auto;
    margin-top: 30px; */
}

.row {
    height: 150px;
}

.box {
    display: inline-block;
    height: 100%;
    border: white solid 5px;
}

.pink {
    background-color: #f5c6d6;
    width: 100%;
}

.darkPink {
    background-color: #ee2e84;
    width: 25%;
}

.blue {
    background-color: #85cfd8;
    width: 50%;
}

.green {
    background-color: #8dc63f;
    width: 75%;
}

.orange {
    background-color: #e76e34;
    width: 25%;
}