@font-face {
    font-family: 'Libre Baskerville';
    src: url('fonts/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville italic';
    src: url('fonts/LibreBaskerville-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Julius Sans One';
    src: url('fonts/JuliusSansOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'verdemoderna';
	src:url('fonts/verdemoderna.eot');
	src:url('fonts/verdemoderna.eot?#iefix') format('embedded-opentype'),
		url('fonts/verdemoderna.woff') format('woff'),
		url('fonts/verdemoderna.ttf') format('truetype'),
		url('fonts/verdemoderna.svg#verdemoderna') format('svg');
	font-weight: normal;
	font-style: normal;
} 

html {
    font-size: 11.2px;
}

* {
    box-sizing: border-box;
    font-weight: 400;
}

body {
    font-family: 'Libre Baskerville', sans-serif;
    color: #325050;
    background-color: white;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "hdr" 
    "arc" 
    "int" 
    "par" 
    "req" 
    "ban" 
    "ftr" 
    "cho" 
    "res" 
    "ext";
}

abbr {
    border: none;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.01em;
}

p {
    font-size: 1.2em;
    line-height: 2em;
    margin: 0.75em 0;
}

header {
    grid-area: hdr;
    font-size: 1rem;
    text-align: center;
    height: 250px;
    /* padding: 1.8em 0 6.25em 0; */
    border-top: solid 10px rgba(19, 67, 71, 0.9);
    background-attachment: fixed, fixed, fixed, scroll;
    background-image: url(images/contours.png), url(images/noise.png), url(images/gridlines.png), url(images/huntington.jpg);
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 2em;
    margin: 0;
    /* padding-bottom: 0.2em; */
}

h1::before {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    position: relative;
    top: 20px;
    /* margin-top: 20px; */
    padding-bottom: 35px;
    content: " ";
    /* margin: -20px 20px 0 0; */

    background-image: url(images/enso.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.6;
}

h2 {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Libre Baskerville italic';
    font-size: 1.3em;
    font-style: italic;
    margin: 0.6em 0;
}

h2::before {
    content: " ";
}

h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
    color: #2e484c;
    margin-top: 2em;
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

a {
    color: #0d8ba1;
    transition: all 0.25s ease-out;
    text-decoration: none;
}

a:visited {
    color: #1a5952;
}

a:hover,
a:focus {
    color: #0599c2;
}

section {
    font-size: 1rem;
    margin: 0 auto;
    padding: 2em 10%;
}

section a:hover {
    text-decoration-line: underline;
}

.intro {
    background-color: #FFFFFF;
    grid-area: int;
}

.intro .download {
    display: none;
}

.intro a,
.intro a:visited {
    padding: 0 0 0 6px;
    border-radius: 1px;
    color: #809b7e;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
}

.intro a:hover,
.intro a:focus {
    z-index: 2;
    color: #fff;
    background: #3d8a9f;
    text-decoration: none;
}

.intro a::before {
    /* icomoon.io defaults */
    font-family: 'verdemoderna';
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    transition: all 0.25s ease-out;
    -webkit-font-smoothing: antialiased;

    font-size: 16px;
    position: relative;
    top: 6px;
    left: -4px;
    padding: 2px;

    color: #a9b995;
    background: #d9e1cd;
    content: "D";
}

.intro a:hover::before {
    color: #fff;
    background: #357d93;
}

.participation {
    grid-area: par;
    background-attachment: scroll, scroll, fixed;
    background-color: rgba(138, 188, 159, 0.5);
    background-image: url(images/contours-opaque.png), url(images/gridlines-opaque.png), url(images/bamboo.png);
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
}

.participation h3 {
    margin: 0.75em 0 0 0;
}

.participation h3:last-of-type {
    margin: 1.667em 0 0 0;
}

.requirements {
    background-color: #FFFFFF;
    grid-area: req;
}

.requirements h3 {
    margin: 1em 0 0 0;
}

.requirements p:last-of-type {
    padding-bottom: 4.48px;
}

.banner {
    font-size: 1rem;
    grid-area: ban;
    padding: 1.4em;
    font-family: 'Libre Baskerville italic';
    font-style: italic;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    background: #3e5d67;
    background-attachment: fixed, fixed, fixed, scroll;
    background-image: url(images/contours.png), url(images/gridlines.png), url(images/noise.png), url(images/koi.jpg);
    background-position: 0 0, -5px -25px, 0 0, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
}

.banner p {
    font-size: 1.4em;
    margin: 0;
}

.banner a {
    font-family: 'Libre Baskerville';
    font-style: normal;
    color: rgba(255, 255, 255, 0.7);
}

footer {
    font-size: 1rem;
    grid-area: ftr;
    background-color: #134347;
    color: rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.4em;
}

footer ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

footer a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 2.85em;
    transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
    margin: 0 0.25em;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.3);
}

footer a.visited {
    color: rgba(255, 255, 255, 0.2);
}

footer a::before {
    font-family: "verdemoderna";
    -webkit-font-smoothing: antialiased;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1;
    font-variant: normal;
    font-weight: normal;
}

footer a.html::before {
    content: "5";
}

footer a.html:hover::before {
    content: "%";
}

footer a.css::before {
    content: "3";
}

footer a.css:hover::before {
    content: "#";
}

footer a.cc::before {
    content: "c";
}

footer a.cc:hover::before {
    content: "C";
}

footer a.access::before {
    content: "a";
}

footer a.access:hover::before {
    content: "A";
}

footer a.git::before {
    content: "g";
}

footer a.git:hover::before {
    content: "G";
}

aside {
    background-color: rgb(237, 244, 240);
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

aside h3 {
    display: none;
}

aside a, aside a:visited {
    color: #607476;
    text-decoration: none;
}

aside a:hover {
    color: #49968e;
    background-color: white;
    opacity: 0.5;
    /* background: linear-gradient(to right,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%); */
} 

aside ul {
    padding: 0;
    margin: 0;
}

.archives {
    grid-area: arc;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 180px;
    width: 100%;
    background: rgba(255,255,255,0.2);
}

.archives ul {
    margin: 0;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
}

.archives li {
    color: rgba(255, 255, 255, 0.65);
    font-size: 1.4em;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.archives a, .archives a:visited {
    color: rgba(255, 255, 255, 0.65);
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
}

.archives a:hover {
    opacity: 1;
    color: white;
    background-color: transparent;
}

  .archives a::before {
    font-family: 'verdemoderna';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 70px;
    width: 70px;
    height: 70px;
    font-size: 44px;
    -webkit-font-smoothing: antialiased;
  }

  .archives .previous a::before {
    content: "<";
  }
  .archives .next a::before {
    content: ">";
  }

.archives .next a:hover {
    color: white;
    background-color: transparent;
}

.archives li:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.25);
}

.chooser {
    background-color: rgb(237, 244, 240);
    grid-area: cho;
    font-size: 1rem;
}

.designs-list {
    display: grid;
    grid-template-columns: 1fr;
}

.designs-list li {
    font-size: 1.2em;
    font-family: 'Libre Baskerville italic';
    font-style: italic;
    padding: 1em 5%;
    border-top: solid 1px rgb(217, 227, 220);
    color: rgb(192, 202, 195);
}

.design-name {
    display: block;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-size: 1.2em;
    margin-bottom: 0.25em;
}

.designer-name {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-size: 0.9em;
}

.resources {
    font-size: 1rem;
    background-color: rgba(138, 188, 159, 0.5);
    background-image: url(images/bamboo.png);
    grid-area: res;
}

.res-list {
    display: grid;
    grid-template-columns: 1fr;
}

.res-list li {
    font-size: 1.2em;
    padding: 1.2em 5%;
    border-top: solid 1px rgb(160, 185, 173);
    color: rgb(192, 202, 195);
}

.res-list a {
    display: block;
    font-size: 1.2em;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    margin-bottom: 0.25em;
}

.res-list li:last-child {
    border-bottom: solid 1px rgb(160, 185, 173);
}

.extra {
    background-color: #E1EAE5;
    grid-area: ext;
    display: none;
    width: 0;
}


@media screen and (min-width: 320px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.6em;
    }
    
    .participation h3 {
        margin: 0.61em 0 0 0;
    }

    .participation h3:last-of-type {
        margin: 1.667em 0 0 0;
    }

    .designs-list {
        grid-template-columns: 1fr 1fr;
    }
    .res-list {
        grid-template-columns: 1fr 1fr;
    }

    .designs-list li {
        padding-left: 10%;
        padding-right: 10%;
    }
    .res-list li {
        padding-left: 10%;
        padding-right: 10%;
    }

    .res-list li:last-child {
        grid-column: 1 / span 2;
        padding-left: 5%;
    }

    .banner {
        padding: 2em;
    }

    .banner p {
        font-size: 2em;
    }

    footer {
        height: 9.8em;
    }
    
    footer a {
        font-size: 3.2em;
    }

    footer a::before {
        font-family: "verdemoderna";
        -webkit-font-smoothing: antialiased;
        color: rgba(255, 255, 255, 0.5);
        font-variant: normal;
        font-weight: normal;
    }
}

  @media screen and (min-width: 500px) {
    header {
        height: 230px;
        padding-top: 20px;
    }

    h1 {
        margin-top: 30px;
        /* padding-bottom: 0.2em; */
    }

    h1::before {
        display: inline-block;
        margin: -20px 20px 0 0;
        padding-bottom: 0;
    }

    h2 {
        padding-left: 10%;
    }

    .banner {
        padding: 4em 6%;
    }

    footer {
        height: 10.9em;
        justify-content: space-evenly;
    }

    footer a {
        font-size: 4.6em;
    }

    .archives {
        top: 160px;
    }

    .designs-list li {
        padding: 1.5em 20%;
    }
    .res-list li {
        padding: 1.5em 20%;
    }

    .res-list li:last-child {
        padding-left: 10%;
    }
}


@media screen and (min-width: 600px) {

    .intro .download {
        display: initial;
    }

    footer a {
        margin: 0 0.5em;
    }

    .banner {
        padding: 4em 12%;
    }
}


/* NEED TO SEE IF I NEED ANY OF THIS */
/* NEED TO SEE IF I NEED ANY OF THIS */
/* NEED TO SEE IF I NEED ANY OF THIS */
/* NEED TO SEE IF I NEED ANY OF THIS */
/* NEED TO SEE IF I NEED ANY OF THIS */
/* NEED TO SEE IF I NEED ANY OF THIS */


/* high-res CSS */
@media only screen and (min-width: 1132px) {
    html {
        font-size: 16px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr .5fr;
        grid-template-areas: 
        "hdr hdr" 
        "int cho" 
        "par res" 
        "req ext" 
        "ban ban" 
        "ftr ftr"
    }

    header {
        height: 310px;
        padding: 0 10%;
        border-top: solid 12px rgba(19, 67, 71, 0.8);
        /* box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.3); */
        vertical-align: middle;
        text-align: left;
    }

    h1 {
        font-size: 3.2em;
        /* display: inline-block; */
        /* position: relative; */
        margin: 15px 0 0 0;
        padding: 60px 0 5px 0;
    }

    p {
        font-size: 1em;
    }

    h1::before {
        top: 65px;
        width: 125px;
        height: 125px;
        margin: -65px 40px 0 0;
        background-size: 100%;
        opacity: 0.6;

        animation: koan 36000s infinite alternate;
        -webkit-animation: koan 36000s infinite alternate;
    }

    h2 {
        margin: 0;
        padding: 5px 0 60px 165px;
    }

    /* .archives {
        right: 100px;
    } */


    .intro {
        padding-top: 3.25em;
    }

    .participation, .requirements {
        padding-top: 4em;
    }

    .banner {
        padding-top: 3em;
    }


    .designs-list {
        grid-template-columns: 1fr;
    }

/* .designs-list li:first {
    border: none;
} */

/* .resources li:first {
    border-top: none;
} */

    .res-list {
        grid-template-columns: 1fr;
    }



    .extra {
        display: unset;
        width: auto;
    }

}

/* 

    body {
      background: #ffffff;
      background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 66%, #e5ede8 66%, #e5ede8 100%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(66%,#ffffff), color-stop(66%,#e5ede8), color-stop(100%,#e5ede8));
      background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 66%,#e5ede8 66%,#e5ede8 100%);
      background: -o-linear-gradient(left,  #ffffff 0%,#ffffff 66%,#e5ede8 66%,#e5ede8 100%);
      background: -ms-linear-gradient(left,  #ffffff 0%,#ffffff 66%,#e5ede8 66%,#e5ede8 100%);
      background: linear-gradient(to right,  #ffffff 0%,#ffffff 66%,#e5ede8 66%,#e5ede8 100%);
      font-size: 100%;
    }
    header {
      width: 100%;
      height: 310px;
      padding: 0 10%;
      border-top: solid 12px rgba(19, 67, 71, 0.8);
      box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.3);
      vertical-align: middle;
      text-align: left;
    }
  
    header::before, header::after {
      display: block;
      content: " ";
      position: absolute;
      z-index: 3;
      top: 9px;
      left: 0;
      width: 100%;
      height: 7px;
      background: rgba(0, 39, 43, 0.2);
    }
    header::after {
      top: 306px;
      height: 4px;
      background: rgba(0, 39, 43, 0.075);
    }
    h1 {
      display: inline-block;
      position: relative;
      margin: 15px 0 0 0;
      padding: 60px 0 5px 0;
    }
    h1::before {
      display: inline-block;
      position: relative;
      top: 65px;
      content: "";
      width: 125px;
      height: 125px;
      margin: -65px 40px 0 0;
      background: url(enso.svg);
      background-size: 100%;
      opacity: 0.6;
  
      -webkit-animation: koan 36000s infinite alternate;
      -moz-animation: koan 36000s infinite alternate;
      animation: koan 36000s infinite alternate;
    }
    h2 {
      display: block;
      margin: 0;
      padding: 5px 0 60px 70px;
    }
    p {
      font-size: 1em;
    }
   */
    /* main layout blocks */

    /* nav, .supporting {
      display: inline;
    }
    .summary, .preamble, .supporting div, .requirements h3, .requirements p {
      float: left;
      clear: left;
      width: 66%;
      padding: 1em 5% 1em 10%;
    }
    .explanation h3, .explanation p,
    .participation h3, .participation p,
    .benefits h3, .benefits p {
      width: 100%;
    }
    .summary {
      padding-top: 3.25em;
    }
    .requirements h3, .requirements p {
      margin: 0;
      padding-bottom: 0;
    }
   */
  
    /* coloured cutoff */
    /* div.participation, div.benefits {
      width: 100%;
      padding-left: 10%;
      padding-right: 38%;
      margin: 0;
    } */
    /* extra padding at the cutoffs */
    /* div.participation, div.requirements {
      padding-top: 4em;
    }
    div.explanation, div.benefits {
      padding-bottom: 4em;
    }
    .requirements p:nth-child(5) {
      padding-bottom: 4em;
    }
  
  
    .intro h3, .supporting h3 {
      margin-top: 0;
    }
    .intro p:last-child, .supporting p:last-child {
      margin-bottom: 0;
    }
  
  
    .requirements p:last-child {
      padding-bottom: 3em;
      padding-top: 3em;
      box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.3);
    }
   */
  
    /* sidebar styling */
    /* .design-selection, .zen-resources {
      position: absolute;
      top: 360px;
      right: 0;
      width: 33.3%;
      padding: 0 0 20px 0;
      margin: 0;
      overflow: visible;
      background: transparent;
    }
    .sidebar li {
      float: none;
      width: auto;
      padding-left: 0;
      padding-right: 0;
      margin: 0 29.4% 0 14.7%; 
    
    }  
*/    
/* 0 10% 0 5% of total width */

    /* select a design */
    /* .design-selection li:first-child {
      border-top: 0;
    }
    .design-selection li:hover, .design-selection li:focus {
      background: none;
    } */
  
    /* archives navigation */
    /* .design-archives {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 310px;
   */

      /* background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 66%,rgba(33,84,95,0.3) 66%,rgba(33,84,95,0) 100%); 
     
    } */
     /* W3C */
    /* .design-archives nav {
      display: block;
      position: absolute;
      right: 1%;
      top: 120px;
      width: 32%;
    }
    .design-archives li {
      margin: 0;
    }
    .design-archives .viewall a, .design-archives a::before {
      background: rgba(255,255,255,0.1);
      text-decoration: none;
    }
  
    .design-archives .viewall a:hover, .design-archives a:hover::before {
      background-color: rgba(255,255,255,0.2);
    }
   */
  
    /* resources navigation */
    /* .zen-resources {
      position: absolute;
      top: 1310px;
      right: 0;
      width: 34%;
      background: transparent;
    }
    .zen-resources h3 {
      display: none;
    }
    .zen-resources ul {
      width: 55.9%;
      margin: 0 29.4% 0 14.7%;
    }
    .zen-resources li {
      padding: 1.5em 0 1.25em 0;
      margin: 0;
    }
  
  } */

  

@media only screen and (min-width: 1150px) {
    /* page footer */
    /* footer a {
      width: 76px;
      height: 76px;
      padding: 76px 0 0 0;
      margin: 0 3em;
    }
    footer a::before {
      font-size: 72px;
    }
  }
   */
}


/*
grid-template-areas:
"hdr nav"
"int cho"
"par res"
"req ."
"ban ban"
"ftr ftr"

the period after req takes up a blank spot
*/