@font-face {
    font-family: 'Libre Baskerville';
    src: url('fonts/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville italic';
    src: url('fonts/LibreBaskerville-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Julius Sans One';
    src: url('fonts/JuliusSansOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'verdemoderna';
    src: url('fonts/verdemoderna.eot');
    src: url('fonts/verdemoderna.eot?#iefix') format('embedded-opentype'), url('fonts/verdemoderna.woff') format('woff'), url('fonts/verdemoderna.ttf') format('truetype'), url('fonts/verdemoderna.svg#verdemoderna') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-weight: 400;
}

html {
    font-size: 11.2px;
}

body {
    font-family: 'Libre Baskerville', sans-serif;
    color: #325050;
    background-color: white;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "hdr" "arc" "int" "par" "req" "ban" "ftr" "cho" "res" "ext";
}

abbr {
    border: none;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.01em;
}

p {
    font-size: 1.2em;
    line-height: 2;
    margin: 0.75em 0;
}

header {
    position: relative;
    grid-area: hdr;
    font-size: 1rem;
    text-align: center;
    height: 250px;
    /* padding: 1.8em 0 6.25em 0; */
    border-top: solid 10px rgba(19, 67, 71, 0.9);
    background-attachment: fixed, fixed, fixed, scroll;
    background-image: url(images/contours.png), url(images/noise.png), url(images/gridlines.png), url(images/huntington.jpg);
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 2em;
    margin: 0;
    /* padding-bottom: 0.2em; */
}

h1::before {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    position: relative;
    top: 20px;
    /* margin-top: 20px; */
    padding-bottom: 35px;
    content: " ";
    /* margin: -20px 20px 0 0; */
    background-image: url(images/enso.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.6;
}

h2 {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Libre Baskerville italic';
    font-size: 1.3em;
    font-style: italic;
    margin: 0.6em 0;
}

h2::before {
    content: " ";
}

h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
    color: #2e484c;
    margin-top: 2em;
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

a {
    color: #0d8ba1;
    transition: all 0.25s ease-out;
    text-decoration: none;
}

a:visited {
    color: #1a5952;
}

a:hover,
a:focus {
    color: #0599c2;
}

section {
    font-size: 1rem;
    margin: 0 auto;
    padding: 2em 10%;
}

section a:hover {
    text-decoration-line: underline;
}

.intro {
    background-color: #FFFFFF;
    grid-area: int;
}

.intro .download {
    display: none;
}

.intro a,
.intro a:visited {
    display: inline-block;
    position: relative;
    padding: 1px 10px 1px 12px;
    margin: -1px -10px -1px -6px;
    line-height: 2;
    border-radius: 1px;
    color: #809b7e;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
}

.intro a:hover,
.intro a:focus {
    z-index: 2;
    color: #fff;
    background-color: #3d8a9f;
    text-decoration: none;
}

.intro a::before {
    /* icomoon.io defaults */
    font-family: 'verdemoderna';
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    transition: background-color 0.25s ease-out;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    position: relative;
    top: 10px;
    left: -4px;
    padding: 2px;
    color: #a9b995;
    background-color: #d9e1cd;
    content: "D";
}

.intro a:hover::before {
    color: #fff;
    background-color: #357d93;
}

.participation {
    grid-area: par;
    background-attachment: scroll, scroll, fixed;
    background-color: rgba(138, 188, 159, 0.5);
    background-image: url(images/contours-opaque.png), url(images/gridlines-opaque.png), url(images/bamboo.png);
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
}

.participation h3 {
    margin: 0.75em 0 0 0;
}

.participation h3:last-of-type {
    margin: 1.667em 0 0 0;
}

.requirements {
    background-color: #FFFFFF;
    grid-area: req;
}

.requirements h3 {
    margin: 1em 0 0 0;
}

.requirements p:last-of-type {
    padding-bottom: 4.48px;
}

.banner {
    font-size: 1rem;
    grid-area: ban;
    padding: 1.4em;
    font-family: 'Libre Baskerville italic';
    font-style: italic;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    background-color: #3e5d67;
    background-attachment: fixed, fixed, fixed, scroll;
    background-image: url(images/contours.png), url(images/gridlines.png), url(images/noise.png), url(images/koi.jpg);
    background-position: 0 0, -5px -25px, 0 0, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
}

.banner p {
    font-size: 1.4em;
    margin: 0;
}

.banner a {
    font-family: 'Libre Baskerville';
    font-style: normal;
    color: rgba(255, 255, 255, 0.7);
}

footer {
    font-size: 1rem;
    grid-area: ftr;
    background-color: #134347;
    color: rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 7.4em;
}

footer ul {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    justify-content: center;
    align-items: center;
    grid-column-gap: 1.7em;
    margin: 0;
    padding: 0;
}

footer li {
    margin: 0;
    padding: 0;
}

footer a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 2.85em;
    transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
    /* margin: 0 0.25em; */
}

footer a:hover {
    color: rgba(255, 255, 255, 0.3);
}

footer a.visited {
    color: rgba(255, 255, 255, 0.2);
}

footer a::before {
    font-family: "verdemoderna";
    -webkit-font-smoothing: antialiased;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1;
    font-variant: normal;
    font-weight: normal;
}

footer a.html::before {
    content: "5";
}

footer a.html:hover::before {
    content: "%";
}

footer a.css::before {
    content: "3";
}

footer a.css:hover::before {
    content: "#";
}

footer a.cc::before {
    content: "c";
}

footer a.cc:hover::before {
    content: "C";
}

footer a.access::before {
    content: "a";
}

footer a.access:hover::before {
    content: "A";
}

footer a.git::before {
    content: "g";
}

footer a.git:hover::before {
    content: "G";
}

aside {
    /* background-color: rgb(237, 244, 240); */
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

aside h3 {
    display: none;
}

aside a,
aside a:visited {
    color: #607476;
    text-decoration: none;
}

aside a:hover, aside a:focus {
    color: #49968e;
    opacity: 0.5;
    /* background: linear-gradient(to right,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%); */
}

aside ul {
    padding: 0;
    margin: 0;
}

.archives {
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}

.archives ul {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.archives li {
    color: rgba(255, 255, 255, 0.65);
    font-size: 1.44em;
}

.archives a,
.archives a:visited {
    display: block;
    height: 70px;
    width: 70px;
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
}

.archives .viewall {
    flex: 1 1 auto;
    padding: 0 1px;
}

.archives .viewall a {
    width: auto;
    line-height: 70px;
}

.archives a:hover {
    opacity: 1;
    color: white;
    background-color: rgba(255, 255, 255, 0.25);
}

.archives a::before {
    font-family: 'verdemoderna';
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 70px;
    font-size: 44px;
    -webkit-font-smoothing: antialiased;
}

.archives .previous a::before {
    content: "<";
    display: none;
}

.archives .next a::before {
    content: ">";
}

.chooser {
    /* background-color: rgb(237, 244, 240); */
    background-color: #E5EDE9;
    grid-area: cho;
    font-size: 1rem;
}

.designs-list {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.2em;
}

.designs-list li {
    /* font-size: 1.2em; */
    font-family: 'Libre Baskerville italic';
    font-style: italic;
    padding: 1em 5%;
    border-top: solid 1px rgb(217, 227, 220);
    color: rgb(192, 202, 195);
}

.design-name {
    display: block;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-size: 1.2em;
    margin-bottom: 0.25em;
}

.designer-name {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-size: 0.9em;
}

.resources {
    font-size: 1rem;
    background-image: url(images/bamboo.png);
    /* background-color:rgba(171, 204, 189, 1); */
    background-color: rgba(138, 188, 159, 0.5);

    grid-area: res;
}

.res-list {
    display: grid;
    grid-template-columns: 1fr;
}

.res-list li {
    font-size: 1.2em;
    padding: 1em 5%;
    border-top: solid 1px rgb(160, 185, 173);
    color: rgb(192, 202, 195);
}

.res-list a {
    display: block;
    font-size: 1.2em;
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    font-style: normal;
    margin-bottom: 0.25em;
}

.res-list li:last-child {
    border-bottom: solid 1px rgb(160, 185, 173);
}

.extra {
    background-color: #E1EAE5;
    grid-area: ext;
    display: none;
    width: 0;
}

@media screen and (min-width: 320px) {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.6em;
    }
    .participation h3 {
        margin: 0.61em 0 0 0;
    }
    .participation h3:last-of-type {
        margin: 1.667em 0 0 0;
    }
    .designs-list {
        grid-template-columns: 1fr 1fr;
    }
    .res-list {
        grid-template-columns: 1fr 1fr;
    }
    .designs-list li {
        padding-left: 10%;
        padding-right: 10%;
    }
    .res-list li {
        padding-left: 10%;
        padding-right: 10%;
    }
    .res-list li:last-child {
        grid-column: 1 / span 2;
        padding-left: 5%;
    }
    .banner {
        padding: 2em;
    }
    .banner p {
        font-size: 2em;
    }
    footer {
        height: 9.8em;
    }
    footer a {
        font-size: 3.2em;
    }
}

@media screen and (min-width: 500px) {
    header {
        height: 230px;
        padding-top: 20px;
    }
    h1 {
        margin-top: 30px;
        /* padding-bottom: 0.2em; */
    }
    h1::before {
        display: inline-block;
        margin: -20px 20px 0 0;
        padding-bottom: 0;
    }
    h2 {
        padding-left: 10%;
        padding-right: 10%;
    }
    h2::before {
        padding: 25px;
    }

    .banner {
        padding: 4em 6%;
    }
    footer {
        height: 10.9em;
    }

    footer ul {
        grid-column-gap: 4.25em;
    }

    footer a {
        font-size: 4.6em;
        width: 48px;
        height: 48px;
    }

    .designs-list li {
        padding: 1.5em 20%;
    }
    .res-list li {
        padding: 1.5em 20%;
    }
    .res-list li:last-child {
        padding-left: 10%;
    }
}

@media screen and (min-width: 601px) {
    h1 {
        font-size: 3.2em;
        margin-top: 0;
    }
    h1::before {
        width: 80px;
        height: 80px;
    }
    h2::before {
        padding: 50px;
    }
    .intro .download {
        display: unset;
    }

    .intro .download a:before {
        display: inline-block;
        top: 1px;
    }

    .banner {
        padding: 4em 12%;
    }

    footer ul {
        grid-column-gap: 4.25em;
    }
}

@media screen and (min-width: 1132px) {
    html {
        font-size: 16px;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr .5fr;
        grid-template-areas: 
        "hdr hdr" 
        "int cho" 
        "par res" 
        "req ext" 
        "ban ban" 
        "ftr ftr"
    }
    header {
        height: 310px;
        padding: 0 10%;
        border-top: solid 12px rgba(19, 67, 71, 0.8);
        box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.3);
        vertical-align: middle;
        text-align: left;
    }
    header::before, header::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 4px;
        z-index: 5;
    }
    header::before {
        top: 0;
        background-color: rgba(0,0,0,0.2);
    }
    header::after {
        bottom: 0;
        background-color: rgba(0, 39, 43, 0.075);
    }
    h1 {
        font-size: 3.2em;
        margin: 15px 0 0 0;
        padding: 60px 0 5px 0;
    }
    h1::before {
        top: 65px;
        width: 125px;
        height: 125px;
        margin: -65px 40px 0 0;
        background-size: 100%;
        opacity: 1;
    }
    h2 {
        margin: 0;
        padding: 5px 0 60px 165px;
    }
    
    h2::before {
        left: 0;
        padding: 2px;
    }
    
    p {
        font-size: 1em;
    }

    .archives {
        position: absolute;
        width: 33.3%;
        top: 0;
        right: 0;
        bottom: 0;
        left: unset;
        background-color: rgba(33, 86, 91, .2);
    }

    .archives ul {
        position: absolute;
        top: 50%;
        left: 5%;
        right: 5%;
        transform: translate(0, -50%);
    }

    .archives li {
        font-size: 1.2em;
    }

    .archives a {
        background-color: rgba(255,255,255,0.1);
    }

    .archives a:hover {
        background-color: rgba(255,255,255,0.2);
    }

    .archives .previous {
        content: "<";
        visibility: hidden;
    }

/* 
    .archives {
        margin-top: 12px;
        position: relative;
        top: unset;
        grid-area: 1 / 2 / 2 / 3;
        z-index: 2;
        display: flex;
        align-items: center;
    }

    .archives:before {
        content: "";
        background-color: rgba(3,3,3, 0.1);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    } */

    .intro, .participation, .requirements {
        padding-left: 15%;
    }
    .intro {
        padding-top: 3.25em;
        padding-bottom: 3.25em;
        padding-right: 8.5%;
    }
    .intro h3 {
        margin-top: 2rem;
    }
    .participation,
    .requirements {
        padding-top: 4em;
        padding-bottom: 4em;
    }
    .participation {
        padding-right: 7%;
    }
    .requirements {
        padding-right: 8.5%;
    }
    .participation h3,
    .requirements h3 {
        padding: 0;
        margin: 0;
    }
    .participation h3:last-of-type {
        margin-top: 2rem;
    }
    .participation p:last-of-type {
        margin-bottom: 0;
    }
    .banner {
        padding-top: 3em;
    }
    .chooser {
        padding-top: 3.125em;
    }
    .designs-list {
        grid-template-columns: 1fr;
        font-size: 1rem;
    }
    .designs-list li {
        padding-left: 0;
        padding-right: 0;
        margin-left: 15%;
        margin-right: 30%;
    }
    .designs-list li:first-of-type {
        border: none;
    }
    .resources {
        border: none;
        position: relative;
    }

    .resources:before {
        content: "";
        display: block;
    background-color:rgba(171, 204, 189, 0.5);
    /* background-color: rgba(138, 188, 159, 0.6); */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    .res-list {
        margin-top: 7em;
        display: inline-block;
        border: none;
        padding-left: 0;
        padding-right: 0;
        margin-left: 15%;
        margin-right: 29.4%;
        position: relative;
        z-index: 2;
    }
    .res-list li {
        font-size: unset;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .res-list li:last-child {
        padding-left: 0;
    }
    .extra {
        display: unset;
        width: auto;
    }
    .banner {
        padding: 6em 12%;
        box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.3);
    }

    footer {
        height: 9.5em;
    }

    footer ul {
        grid-column-gap: 4.5em;
    }

    footer a {
        font-size: 3em;
    }
}

@media only screen and (min-width: 1150px) {
    
    footer {
        height: 11em;
    }

    footer ul {
        grid-column-gap: 6.5em;
    }

    footer a {
      width: 76px;
      height: 76px;
    }

    footer a::before {
      font-size: 72px;
    }
  }
  
